.tmp.driveupload/
02_DatasetBuilder/.venv/
gpt_venv/

__pycache__/

05_MODELS/
todo.txt
conda commands.txt

01_CODEFORCES_DATASET_V1.zip
01_CODEFORCES_DATASET_V2.7z
01_CODEFORCES_DATASET_V3.7z
01_CODEFORCES_DATASET_V4.1.7z
01_CODEFORCES_DATASET_V4.7z
01_CODEFORCES_DATASET_V5.7z