.tmp.driveupload/
.tmp.drivedownload/
__pycache__/
02_DatasetBuilder/.venv/
gpt_venv/


05_MODELS/01_DomainAdaped_Models/*
!05_MODELS/01_DomainAdaped_Models/Models Board.md
!05_MODELS/01_DomainAdaped_Models/.gitkeep
01_TASK_DATASETS/*
!01_TASK_DATASETS/.gitkeep



01_CODEFORCES_DATASET_V5.7z
01_TASK_DATASETS.7z

todo.txt
conda commands.txt


